html {
  font-family: 'IBM Plex Mono', monospace;
}

#titleText {
  display: flex;
  justify-content: center;
  font-size: 60px;
}

#moneyText {
  color: darkgreen;
  font-size: 45px;
  display: flex;
  justify-content: center;
}

#cashTitleText {
  color: darkgreen;
}

#formDiv {
  display: flex;
  justify-content: space-around;
}
#submitButton {
  display: flex;
  justify-content: center;
}

h4 {
  display: flex;
  justify-content: center;
}
